body
{
margin: 0px;
padding: 0px;
min-width: 1000px;
background: url('../images/bg_body.png') repeat-x center top #DEF2F7;
}


#top
{
position: relative;
height: 300px;
width: 100%;
min-width: 1000px;
background: url('../images/bg_head.jpg') 50% 0% no-repeat;
}