body
{
margin: 0px;
padding: 0px;
min-width: 1000px;
background: url('images/bg_body.png') repeat-x center top #DEF2F7;
}

#top
{
position: relative;
height: 300px;
width: 100%;
min-width: 1000px;
background: url('images/bg_head.jpg') 50% 0% no-repeat;
}

#top_content
{
position: relative;
width: 1000px; 
margin: 0px auto;
}

#top_img_left
{
height: 83px;
left: 18px;
position: absolute;
top: 70px;
width: 346px;
background: url('images/top_logo.png') 50% 50% no-repeat;
}
